@model List<StocksWatchlist.Models.MutualFund>
@{
    ViewBag.Title = "My Portfolios";
}

<h1>
    Stocks Watchlist
</h1>

<h3>
    Click on Stocks or Accounts to see "Mutual Funds" or "Accounts" 
</h3>

